<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Games Gateway: plot 1</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Plot 1: Clustering of similar board games</h1>
  			<img src="https://github.com/co9olguy/data_inc_proj/blob/master/good_imgs.jpg?raw=true"></img>
		</div>
	</body>
</html>
