<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Games Gateway - Game Explorer</title>

      <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>

      <script type="text/javascript" src="{{ url_for('static', filename='js/explore_ui.js') }}"></script>


        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
        <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>



  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">GAMES GATEWAY</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="active"><a href="index.html">Home</a></li>-->
            <li><a href="/explore">Explore</a></li>
            <li><a href="/recommend">Recommend</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div class="container centered" style="margin-top:50px;">
        <h1>Game Explorer</h1>
        <h4>Hover over dots to see games</h4>
		<div class="row centered mt mb">
            <br>
            <div id=controls" style="text-align:left;width:340px;float:left;">
                <!--<input type="checkbox" id="player-check">-->
                <label for="player-check" style="font-size:14pt">Number of players:</label>
                <input type="text" id="player-amount" readonly style="border:0; color:#000000; font-weight:bold; width:75px; background-color:transparent; font-size:14pt">

                <div id="player-range" style="width:200px"></div>

                <br>

                <p>
                <!--<input type="checkbox" id="time-check">-->
                <label for="time-check" style="font-size:14pt">Time range (min):</label>
                <input type="text" id="time-amount" readonly style="border:0; color:#000000; font-weight:bold; width:100px; background-color:transparent; font-size:14pt">
                </p>
                <div id="time-range" style="width:200px"></div>

                <br>

                <p>
                <!--<input type="checkbox" id="time-check">-->
                <label for="year-check" style="font-size:14pt">Publication year:</label>
                <input type="text" id="year-amount" readonly style="border:0; color:#000000; font-weight:bold; background-color:transparent; font-size:14pt">
                </p>
                <div id="year-range" style="width:200px"></div>

                <br>

                <p>
                <!--<input type="checkbox" id="age-check">-->
                <label for="age-check" style="font-size:14pt">Minimum age:</label>
                <input type="text" id="minage-amount" readonly style="border:0; color:#000000; font-weight:bold; width:70px; background-color:transparent; font-size:14pt">
                </p>
                <div id="minage-slider" style="width:200px"></div>

                <br>

                <p>
                <label for="rank-check" style="font-size:14pt">Boardgamegeek Rank:</label>
                <input type="text" id="rank-amount" readonly style="border:0; color:#000000; font-weight:bold; width:70px; background-color:transparent; font-size:14pt">
                </p>
                <div id="rank-slider" style="width:200px"></div>

                <br>

                <p><label for="x-axis">X-axis:</label></p>
                <select name="x-axis" id="x-axis">
                  <option>Average Rating</option>
                  <option>Min Players</option>
                  <option>Max Players</option>
                  <option>Min Playtime</option>
                  <option>Max Playtime</option>
                  <option selected="selected">Year Published</option>
                  <option>Min Age</option>
                  <option>Boardgamegeek Rank</option>
                </select>

                <br>

                <p><label for="y-axis">Y-axis:</label></p>
                <select name="y-axis" id="y-axis">
                  <option selected="selected">Average Rating</option>
                  <option>Min Players</option>
                  <option>Max Players</option>
                  <option>Min Playtime</option>
                  <option>Max Playtime</option>
                  <option>Year Published</option>
                  <option>Min Age</option>
                  <option>Boardgamegeek Rank</option>
                </select>

            </div>
                <div id="plot-container" style="text-align:left;float:right;">
                <div id="status-msg"></div>
            </div> <!--plot div-->

		</div><! --/row -->
	</div><! --/container -->

<!--
	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>Built by Nathan Killoran</b></p>
				</div>

				<div class="col-lg-4">
					<p>Fellow at the Data Incubator</p>
				</div>
				<div class="col-lg-4">
					<p>nkilloran@gmail.com</p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
