<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Games Gateway</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div align="center">
  			<h1>Welcome to Games Gateway</h1>
  			<h3>Initial challenge submission</h3>	
  			<a href="figure1">Sample plot 1</a><br>
  			<a href="figure2">Sample plot 2</a><br>
  			<h3>Recommender system demo</h3>	
  			<a href="rec_demo1">Demo: Core Eurogamer</a><br>
<!--  			<a href="rec_demo2">Demo: Complex Eurogamer</a><br> -->
  			<a href="rec_demo3">Demo: War Gamer</a><br>
  			<a href="rec_demo4">Demo: Kickstarter games</a><br>
  			<a href="rec_demo5">Demo: Games with Dinosaurs</a><br>
  			<a href="rec_demo6">Demo: Games with Sherlock Holmes</a><br>
  			<a href="rec_demo7">Demo: Joke Game Fan</a><br>
		</div>
	</body>
</html>
