<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Interactive Recommendations demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='category_autocomplete.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='family_autocomplete.js') }}"></script>

  <script>

  //player-range slider
  $(function() {
    $( "#player-range" ).slider({
      range: true,
      min: 1,
      max: 15,
      values: [ 2, 4 ],
      slide: function( event, ui ) {
        $( "#player-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#player-amount" ).val( $( "#player-range" ).slider( "values", 0 ) +
      " - " + $( "#player-range" ).slider( "values", 1 ) );
  });

  //time-range selector
  $(function() {
    $( "#time-range" ).slider({
      range: true,
      min: 0,
      max: 600,
      values: [ 30, 600 ],
      step: 15,
      slide: function( event, ui ) {
        $( "#time-amount" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    $( "#time-amount" ).val( $( "#time-range" ).slider( "values", 0 ) +
      " - " + $( "#time-range" ).slider( "values", 1 ) );
  });  

  //minimum age selector
  $(function() {
    $( "#minage-slider" ).slider({
      min: 0,
      max: 21,
      values: [ 0 ],
      slide: function( event, ui ) {
        $( "#minage-amount" ).val( ui.values[ 0 ]);
      }
    });
    $( "#minage-amount" ).val( $( "#minage-slider" ).slider( "values", 0 ) );
  });

  //submit button
  $(function() {
    $( "#submit-button" ).click(function() {
      $.getJSON(
      $SCRIPT_ROOT + '/_recommend',
      { minplayers: $( "#player-range" ).slider( "values", 0 ),
        maxplayers: $( "#player-range" ).slider( "values", 1 ),
        minplaytime: $( "#time-range" ).slider( "values", 0 ),
        maxplaytime: $( "#time-range" ).slider( "values", 1 ),
        minage: $( "#minage-slider" ).slider( "values", 0 ),
        category: $( "#categories" ).val(),
        family: $( "#families" ).val()
      },
      //this is the code to write a returned string to the "result" field
      function( data ) {
        // $("#result").text( data.return_string); // for updating page in-place
        // attempt to open a new page based on returned html
        // ugly hacky solution, but it works
        if ( data.flag == 0 ){
          //var x = $( "#categories" ).val()
          //console.log(x)
          var html = data.result;
          var uri = "data:text/html," + encodeURIComponent(html);
          var newWindow = window.open(uri);
        }
      });
      return false;
    });
  });
  
  </script>
</head>
<body class="ui-widget-content" style="border:0;">

<div>
 
<p>
  <label for="player-amount">Number of players:</label>
  <input type="text" id="player-amount" readonly style="border:0; color:#000000; font-weight:bold; width:50px; background-color:transparent;">
</p>
<div id="player-range" style="width:200px"></div>

<p>
  <label for="time-amount">Time range (min):</label>
  <input type="text" id="time-amount" readonly style="border:0; color:#000000; font-weight:bold; width:70px; background-color:transparent;">
</p>
<div id="time-range" style="width:200px"></div>

<p>
  <label for="minage-amount">Minimum age:</label>
  <input type="text" id="minage-amount" readonly style="border:0; color:#000000; font-weight:bold; width:70px; background-color:transparent;">
</p>
<div id="minage-slider" style="width:200px"></div>

</div>

<br>

<label for="categories">Board game category: </label>
  <input id="categories">
<br>
<br>
<label for="families">Board game family: </label>
  <input id="families">

<br>
<br>
<button id="submit-button">Submit</button>

<br>
<br>

<!--<div>Your recommendations: <span id="result"></span></div>-->

 
</body>
</html>