<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <style type="text/css">
  h1.centered {
      height: 100px;
      width: 400px;
      margin: auto;
  }
  </style>
    <style type="text/css">
  div.centered {
      height: 400px;
      width: 400px;
      margin: auto;
  }
  </style>
    <style type="text/css">
  div.centered-wide {
      height: 800px;
      width: 800px;
      margin: auto;
  }
  </style>

    <title>Games Gateway - Game Recommender</title>

      <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
      <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>

      <script type="text/javascript" src="{{ url_for('static', filename='js/recommend_ui.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/category_autocomplete.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/family_autocomplete.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/ratings_autocomplete.js') }}"></script>


        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
        <link href="{{ url_for('static', filename="css/font-awesome.min.css") }}" rel="stylesheet">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>


  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index">GAMES GATEWAY</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="active"><a href="index.html">Home</a></li>-->
            <li><a href="/explore">Explore</a></li>
            <li><a href="/recommend">Recommend</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


		<div class="row centered mt mb" style="padding-top:75px; padding-bottom:75px;height:150px">
			<h1>Game Recommender</h1>
		</div><! --/row -->
<hr>

        <div class="container" id="get-ratings-div" style="text-align:center;">
            <h3>What games do you like?</h3>
            <p>(The more ratings you give, the more personalized the recommendations)</p>
            <input id="ratings-getter"  style="width:400px">
            <div class="container" style="padding-top:15px;">
                <div class="row centered mt mb" id="ratings-displayer" style="width:90%;height:100px">
                </div>
            </div>
        </div>
        <div class="container" style="text-align:center;padding-top:25px;">
                <input type="checkbox" id="ignore-ratings-check" style="padding-top:20px;"><label for="ignore-ratings-check" id = "ignore-ratings-label"> Ignore ratings (recommend by popularity) </label>
        </div>
<hr>

        <div class="container centered" id="filter-div">
            <h3>What else is important?</h3>
            <div class="row centered mt mb">
              <input type="checkbox" id="player-check">
              <label for="player-check" style="font-size:14pt">Number of players:</label>
              <input type="text" id="player-amount" readonly style="border:0; color:#000000; font-weight:bold; width:75px; background-color:transparent; font-size:14pt">

                <div id="player-range" style="width:400px"></div>
                <br>
                <p>
                  <input type="checkbox" id="time-check">
                  <label for="time-check" style="font-size:14pt">Time range (min):</label>
                  <input type="text" id="time-amount" readonly style="border:0; color:#000000; font-weight:bold; width:100px; background-color:transparent; font-size:14pt">
                </p>
                <div id="time-range" style="width:400px"></div>

                <br>

                <p>
                  <input type="checkbox" id="age-check">
                  <label for="age-check" style="font-size:14pt">Minimum age:</label>
                  <input type="text" id="minage-amount" readonly style="border:0; color:#000000; font-weight:bold; width:70px; background-color:transparent; font-size:14pt">
                </p>
                <div id="minage-slider" style="width:400px"></div>

                <br>
                <input type="checkbox" id="category-check">
                <label for="category-check" style="font-size:14pt">Board game category: </label>
                <br>
                  <input id="categories"  style="width:400px">
                <br>
                <br>

                <input type="checkbox" id="family-check">
                <label for="family-check" style="font-size:14pt">Board game family: </label><br>
                  <input id="families" style="width:400px">

                <br>
                <br>

                <button id="submit-button" style="font-size:14pt">Submit</button>

            </div><! --/row -->
        </div><! --/container -->

	<div class="container" id="recs-container" style="width:90%;padding-top:50px;margin-bottom:50px">
		<div class="row centered mt mb" style="width:90%;margin-top:50px">
			<h2 style="text-align:center;">Your Recommendations</h2>
            <h4 id="msg_appear"></h4>

			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec1">
                <img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
            <div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec2">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec3">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec4">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec5">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec6">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec7">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec8">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 gallery" id="rec9">
				<img src="{{ url_for('static', filename='img/mystery_box.png') }}" class="img-responsive">
			</div>
		</div><! --/row -->
	</div><! --/container -->


<!--<div class="centered-wide" id="recs" style="padding-top:25px"></div>


<!-- take out footer until I can get it right

	<div id="footerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-4">
					<p><b>Built by Nathan Killoran</b></p>
				</div>

				<div class="col-lg-4">
					<p>Fellow at the Data Incubator</p>
				</div>
				<div class="col-lg-4">
					<p>nkilloran@gmail.com</p>
				</div>
			</div>
		</div>
	</div><! --/footerwrap -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
