
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Games Gateway Recommendations Demo</title>
        
		<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.css" type="text/css" />
   		<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.0.min.js"></script>
        {{ script | safe }}
    </head>
    <body>
<!--        <div>
        <h1>Hi, ...</h1>
	Your supplied ratings:
        <ul>
        	<li>...: 10/10</li>
        	<li>...: 10/10</li>
        	<li>...: 10/10</li>
        	<li>...: 10/10</li>
        </ul>
        Extra conditions: 
        <ul>
        	<li>...</li>
        </ul>
        </div> -->

        <br>
        {{ div | safe }}

    </body>
</html>
